body{
    font-size: 16px;
    
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
    

}

#collapsable-nav li{
  background-color: rgb(240, 233, 141);
  border-bottom: 2px solid grey;
}

.navbar-brand h1{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
   line-height: .75;
   text-decoration: none;
  
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list{
    margin-top: 0px;
}
#nav-list a{
    text-align: center
}
#nav-list a:hover{
    background-color: lightgrey;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
  }
  header{
    box-shadow: 2px 0px 2px 0px rgb(60, 87, 60);
  }
  
                 /* header end  */
   h2{
  
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
  .tiles{
    /* height: 700px; */
   
    position: relative;
    background: #999999;
   /* margin: 15px; */
   border: 2px solid black;
  }
  .chicken h3{
    /* background: #D59898; */
    color: black;
   /* padding-bottom: 3px; */
}
.beef h3 {
    /* background: #C14543; */
    color: black;
    /* padding-bottom: 3px; */
}
.sushi h3 {
    /* background: #E5D198; */
    color: black;
    /* padding-bottom: 3px; */
}
h3{
  

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  
  
  /* border: 2px solid black;
  border-top: 0px;
  border-right: 0px; */
 
  
  

  
}
p{ 
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 90%;
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;
 
 

}


                 /********** Large devices only **********/
@media (min-width: 1200px) {
  /* .button1{
    visibility: hidden;

} */
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .button1{
    visibility: hidden;
  
  }
  .tiles{
    margin-bottom: 15px;
  }
  
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .button1{
    visibility: hidden;
  }
  .tiles{
    margin-bottom: 15px;
  }
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 
  #collapsable-nav{
    visibility: visible;
  }
  /* Header */
  .navbar-brand {
    padding-top: 5px;
    /* height: 80px; */
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .tiles{
    margin-bottom: 15px;
  }
}
